<ion-content text-center style="text-align: center;">
    <h1>Trebuie sa ai aplicatia instalata pentru a scana coduri QR.</h1>
</ion-content>
<ion-footer id="app-div" style='display: none'>
    <ion-button expand="block" size="medium" style="width:90vw;margin-left:5vw;margin-right:5vw;" id="google-play">Descarca pentru Android</ion-button>
    <ion-button expand="block" size="medium" style="width:90vw;margin-left:5vw;margin-right:5vw;" id="appstore">Descarca pentru IOS</ion-button>
</ion-footer>
