ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-buttons{
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-back-button{
    --background: transparent;
    --ion-color-base: transparent !important;
}


.bakground-normal{
    background-color: transparent !important;
}

.item.item-trns{
    border-color: rgba(0, 0, 0, 0);
    background-color:rgba(0,0,0,0);
}
